{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3>Il y a {{ rooms | length }} salle(s) actuellement</h3>
        <a href="{{ path('rooms_create') }}" class="btn btn-primary">Ajouter une nouvelle salle</a>
    </div>

    <div class="example-wrapper">

        <h1>Rooms list</h1>

        {% for room in rooms %}

            <h2>{{ room.name }}</h2>
            <h2>{{ room.capacity }}</h2>
            <a href="{{ path('rooms_update', { id: room.id}) }}" class="btn btn-primary">Update</a>
            <a href="{{ path('rooms_delete', { id: room.id}) }}" class="btn btn-warning">Delete</a>
            <a href="{{ path('rooms_show', { id: room.id}) }}" class="btn btn-warning">Show</a>

        {% endfor %}

    </div>
{% endblock %}
